/*Header*/

.header{
  height: 300px;
  width: 100%;
}

.header h1{
  line-height: 5.5;
  text-align: center;
  color: #7d7857;
  height: 100px;
  width: 100%;
  font-family: 'Fredoka One', cursive;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height: 1.5;
  padding:0;
  margin:0;
  background-color: #C7B519;
  background-image: linear-gradient(#BA9B37,#FFC904,#BA9B37,#FFC904);
  color: black;
}

/*.intro{
  height: 100vh;
  background-image: linear-gradient(#BA9B37,#FFC904,#BA9B37,#FFC904);
}*/

/* Search Box */
.formsearch {
  width: 900px;
  margin: auto;
  text-align: right;
  margin-top: 100px;
  font-family: 'Fredoka One', cursive;
}


input {
  padding: 2px 10px;
  border: 0;
  font-size: 20px;
}

.search {
  width: 100%;
}

.submit {
  width: 100px;
  height: 50px;
  background-color: #7d7857;
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
}

.submitcontact{
  width: 250px;
  background-color: #6D6D56;
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  height: 50px;
  font-size: 30px;
  display: inline-block;
}
